body {
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: "Inter", sans-serif !important;
  font-style: normal;
}
.featured-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 10px;
  width: 48px;
  height: 48px;
  background-color: #c2e8c9;
  color: #00a542;
  border-radius: 2.22222e13px;
}
.side-icons {
  color: #98a2b3;
}

.content {
  font-weight: 500;
  color: #101828;
}

#main {
  margin: 114.5px 540px 114.5px 540px;
}
@media (max-width: 576px) {
  #main {
    margin: 5px 0;
  }
}
#copy {
  box-shadow: none;
  color: #667085;
}
#badge,
.frame {
  font-size: 14px;
  font-weight: 500;
}
#containers {
  width: 360px;
  border-radius: 12px;
}
